<nav class="admin-nav navbar navbar-expand navbar-light">
    <div class="navbar-nav">
        <a routerLink="/admin" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-item nav-link">Overview</a>
        <a routerLink="/admin/employees" routerLinkActive="active" class="nav-item nav-link">Employees</a>
        <a routerLink="/admin/departments" routerLinkActive="active" class="nav-item nav-link">Departments</a>
        <a routerLink="/admin/requests" routerLinkActive="active" class="nav-item nav-link">Requests</a>
        <a routerLink="/admin/workflows" routerLinkActive="active" class="nav-item nav-link">Workflows</a>
    </div>
</nav>